<h5>
  
  Ital Lemonade was created by Jahwarn Heron and his partner Destiny Melton. We came into the business to enforce a alkaline
  beverage for the universe to be able to obtain. It is important to create something that will change people's lives. In
  addition, we believe in natural products to become the cure. Furthermore, it means the universe to us to create a natural
  Ital beverage that has healing properties such as weight loss, eradicating cancer, supports skin quality, and prevents kidney
  stones.

</h5>

<h5>
    
    Our Mission Statement at Cafe Ital Lemonade is to provide Fresh Juices offer many different alkaline natural juices at its highest quality to the universe.
    In addition, we provided very fresh products that has nutritional and health benefits which will enhance lives. Ital lemonade
    created a beverage that will help ensure longevity and a cleansing beverage which will make our clients appreciate life.
    It is important to us to inform the universe about the essence of natural products to increase the lifespan of humanity.
  <a href= "https://foodforward.org/2017/01/food-deserts-in-los-angeles" > Learn more about Food Desserts in South Central, Los Angeles </a>

</h5>
<ngb-carousel>
    <ng-template ngbSlide>
      <img src="../../assets/jahmonade.jpg" alt="Random first slide">
      <div class="carousel-caption">
        <h3>Let's Save Our Youth </h3>
        <p>The Importance of Juicing to increase the longevity of our kid's future.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../assets/juicesforlife.jpg" alt="Random second slide">
      <div class="carousel-caption">
        <h3> We will save our communities by one child at a time </h3>
        <p>Cafe Ital will provide encourage information on health benefits from Juicing </p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../assets/Des fruits.jpg" alt="Random third slide">
      <div class="carousel-caption">
        <h3> Time For Change </h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>
 