<h2 class="middle" id="space">
  Cafe Ital Juices
</h2>
<div  class="containers">
    <div class="juice-1">
  <div class="colors">
    <div class="container ">
      <div class="card" style="width:400px">
        <img class="card-img-top" src="../../assets/pineapplejuice.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Pineapple Life</h4>
          <p class="card-text">Pineapple, Lemon, and Mint.</p>
          <a href="#" class="btn btn-primary">16 oz</a>
        </div>
      </div>
</div>
</div>
</div>

<div class="juice-2">
    <div class="colors">
      <div class="container ">
      <div class="card" style="width:400px">
        <img class="card-img-top" src="../../assets/green1.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Green Goddess</h4>
          <p class="card-text">Kale, Spinach, Vegan Protein, Almond Milk etc</p>
          <a href="#" class="btn btn-primary">16 oz</a>
        </div>
      </div>
    </div>
    </div>
    </div>

<div class="juice-3">
    <div class="colors">
      <div class="container">
          <div class="card" style="width:400px">
              <img class="card-img-top" src="../../assets/mastercleanse.jpg" alt="Card image">
              <div class="card-body">
                <h4 class="card-title">The Cleanse</h4>
                <p class="card-text">Lemon, Agave, Alakline Water, Mint.</p>
                <a href="#" class="btn btn-primary">16 oz</a>
              </div>
            </div>
    </div>
  </div>
  </div>
  </div>

  <div  class="containers">
    <div class="juice-1">
    <div class="colors">
      <div class="container">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="../../assets/orangejuice.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Orange Juice</h4>
            <p class="card-text">Orange Tree</p>
            <a href="#" class="btn btn-primary">16 oz</a>
          </div>
        </div>
    </div>
  </div>
  </div>
  <div class="juice-2">
    <div class="colors"> 
      <div class="container">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="../../assets/watermelonmint.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Sweetheart</h4>
            <p class="card-text">Watermelon, Mint, Strawberry. $10.00</p>
            <a href="#" class="btn btn-primary">16 oz </a>
          </div>
        </div>
     </div>   
    </div>
  </div>

  <div class="juice-3">
    <div class="colors">
      <div class="container">
      <div class="card" style="width:400px">
        <img class="card-img-top" src="../../assets/protein.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Build Up</h4>
          <p class="card-text">Almond Milk, Dates, Spinach, Kale and etc $10.00 </p>
          <a href="#" class="btn btn-primary">16 oz</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


  <div  class="containers">
    <div class="juice-1">
    <div class="colors">
      <div class="container ">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="../../assets/protein.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Beauty</h4>
            <p class="card-text">Spinach, Cucumber, Pineapple, Orange $10.00</p>
            <a href="#" class="btn btn-primary">16 oz</a>
          </div>
        </div>
    </div>
    </div>
  </div>

  <div class="juice-2">
    <div class="colors">
      <div class="container ">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="../../assets/coconutstrawberry.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Passion</h4>
            <p class="card-text">Apple, Strawberry, Pear $10.00</p>
            <a href="#" class="btn btn-primary">16 oz</a>
          </div>
        </div>
    </div>
    </div>
    </div>

    <div class="juice-3">
    <div class="colors">
      <div class="container ">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="../../assets/cocowater.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Clean Water</h4>
            <p class="card-text">Coconut Water $10.00</p>
            <a href="#" class="btn btn-primary">16 oz</a>
          </div>
        </div>
    </div>
</div>
</div>

</div>

<div  class="containers">
  <div class="juice-1">
    <div class="colors">
      <div class="container ">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="../../assets/Aloewater.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Clean</h4>
            <p class="card-text">Aloe Water.  $10.00</p>
            <a href="#" class="btn btn-primary">16 oz</a>
          </div>
        </div>
    </div>
    </div>
  </div>

  <div class="juice-2">
    <div class="colors">
      <div class="container ">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="../../assets/gingerapple.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title"> Fruit Tree </h4>
            <p class="card-text">Lemon, Apple, Ginger, Orange $10.00</p>
            <a href="#" class="btn btn-primary">16 oz</a>
          </div>
        </div>
    </div>
    </div>
    </div>
    </div>

    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">{{selectedItem.name}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>one fine body&hellip;</p>
        <p>{{ selectedItem.price }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
      </div>
    </ng-template>