<div class="colors" >
  
  <div id="itallogo">
    <img src="../../assets/change.png"/>
  

  <h2 class="middle" id="space">
    "Best Things In Life Are Juicy"
  </h2>
  <h4 class="fresh">
    Cafe Ital Juices will provide healthy eats and fresh juices for kid's that lack access to healthy foods in the low income communites.
    We will provided fresh juices, smoothies, healthy snacks and seminars on how to improve your food diet. It is important to us
    we save our communities and future generation to come.

  </h4>
</div>
<div class="container">
    <h4 class="fresh"> Our Cold Pressed Juices</h4>
    <ngb-carousel >
        <ng-template ngbSlide>
          <img class="carouselImages" src="../../assets/coconutstrawberry.jpg" alt="Random first slide">
          <div class="carousel-caption">
            <h3 class="carouselShadows">$10.00 </h3>
            <p class="carouselShadows size"> Passion</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="carouselImages" src="../../assets/gingerapple.jpg" alt="Random second slide">
          <div class="carousel-caption">
            <h3 class="carouselShadows"> $10.00</h3>
            <p class="carouselShadows size"> Fruit Tree </p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="carouselImages" src="../../assets/orangejuice.jpg" alt="Random third slide">
          <div class="carousel-caption">
            <h3 class="carouselShadows"> $10.00 </h3>
            <p class="carouselShadows size">OJ</p>

          </div>
        </ng-template>
      </ngb-carousel>
    </div>

